wp-config.php
wp-content/server/
wp-content/cache/meta
wp-content/cache/supercache
wp-content/cache/autoptimize/js/
wp-content/cache/autoptimize/css/
wp-content/cache/autoptimize/index.html
wp-content/backupwordpress-*/
wp-content/cache/wp-cache-*.*
wp-content/cache/*.txt
wp-content/plugins/wp-site-installer/images-featured/
wp-content/plugins/wp-site-installer/widgets/extra/
wp-content/plugins/wp-site-installer/debug/
wp-content/plugins/wp-site-specifier/
wp-content/wp-cache-config.php
